
  .reader-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
  }

  .reader-table + .reader-table {
    margin-left: 30px;
  }
  
  .reader-table th,
  .reader-table td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }

  .reader-table td {
    cursor: pointer;
  }
  
  .reader-table th.underline {
    border-bottom: 1px solid black; 
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .table-container {
    width: calc(50% - 10px);
  }

  