<div class="toolbar-container">
    <div class="toolbar-header">Звітність</div>
    <hr class="toolbar-hr"> 
    <div class="toolbar-buttons">
      <button mat-raised-button (click)="selectedTab = 'profit'">Розрахунок прибутку</button>
      <button mat-raised-button (click)="selectedTab = 'top-readers'">Найактивніші читачі</button>
      <button mat-raised-button (click)="selectedTab = 'top-books'">Найпопулярніші книги</button>
    </div>
  </div>

  <div [ngClass]="{'invisible': selectedTab != 'profit'}" class="table-container">  
    <ng-container *ngIf="selectedTab === 'profit'">
        <app-profit-table></app-profit-table>
    </ng-container>
  </div>

  <div [ngClass]="{'invisible': selectedTab != 'top-readers'}" class="table-container">  
    <ng-container *ngIf="selectedTab === 'top-readers'">
        <app-top-reader-table></app-top-reader-table>
    </ng-container>
  </div>

  <div [ngClass]="{'invisible': selectedTab != 'top-books'}" class="table-container">  
    <ng-container *ngIf="selectedTab === 'top-books'">
        <app-top-book-table></app-top-book-table>
    </ng-container>
  </div>