
    <mat-dialog-actions align="end" class="header-cancel">
        <button mat-icon-button mat-dialog-close>
          <mat-icon>close</mat-icon>
        </button>
      </mat-dialog-actions>
  
  
  <mat-dialog-content>
      <form #readerForm="ngForm" [formGroup]="addForm">
          <p>Інформація про читача</p>
          <mat-form-field class="general-field">
              <input matInput class="form-control search-input form-input" name="searchUser" placeholder="Пошук" type="text" [matAutocomplete]="auto" [(ngModel)]="search" (input)="filterUsers()">
          </mat-form-field>
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayUserFn">
              <mat-option *ngFor="let user of filteredUsers" [value]="user" (onSelectionChange)="selectUser(user)">
                {{ user.firstName }} {{ user.lastName }} | {{ user.phone }}
              </mat-option>
          </mat-autocomplete>

          <p>Інформація про книгу</p>
          <mat-form-field class="general-field">
              <input matInput class="form-control search-input form-input" name="searchBook" placeholder="Пошук" type="text" [matAutocomplete]="bookAuto" [(ngModel)]="bookSearch" (input)="filterBooks()">
          </mat-form-field>
          <mat-autocomplete #bookAuto="matAutocomplete" [displayWith]="displayBookFn">
              <mat-option *ngFor="let book of filteredBooks" [value]="book" (onSelectionChange)="selectBook(book)">
                  {{ book.title }} | {{ book.author }} 
              </mat-option>
          </mat-autocomplete>
          <p>Штраф</p>
          <mat-form-field>
            <input type="number" matInput placeholder="Штраф" name="fineAmount" formControlName="fineAmount">
          </mat-form-field>

          <p>Причина штрафу:</p>
          <mat-radio-group formControlName="fineReason" class="radio-buttons">
            <mat-radio-button [value]="1">Книга зіпсована</mat-radio-button>
            <mat-radio-button [value]="2">Книга прострочена</mat-radio-button>
            <mat-radio-button [value]="3">Книга зіпсована і прострочена</mat-radio-button>
          </mat-radio-group>
      </form>
  
      <div class="button-container">
        <button mat-button (click)="processPayout()">Формування рахунку до сплати</button>
        <button mat-button (click)="updateLending()">Зберегти</button>
      </div>
  </mat-dialog-content>