<!-- reader-details.component.html -->
<div class="header">
  <div class="toolbar-header">Редагування інформації читача</div>
  <mat-dialog-actions align="end" class="header-cancel">
    <button mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </mat-dialog-actions>
</div>

<mat-dialog-content>
  <form #readerForm="ngForm">
    <mat-form-field class="general-field">
      <mat-label>Ім'я</mat-label>
      <input matInput placeholder="Ім'я" name="firstName" [(ngModel)]="selectedReader.firstName" [required]="true" minlength="2">
      <mat-error *ngIf="readerForm.controls['firstName'].hasError('required')">Ім'я обов'язкове</mat-error>
      <mat-error *ngIf="readerForm.controls['firstName'].hasError('minlength')">Ім'я повинно містити принаймні 2 символи</mat-error>
  </mat-form-field>
  <mat-form-field class="general-field">
      <mat-label>Прізвище</mat-label>
      <input matInput placeholder="Прізвище" name="lastName" [(ngModel)]="selectedReader.lastName" [required]="true" minlength="2">
      <mat-error *ngIf="readerForm.controls['lastName'].hasError('required')">Прізвище обов'язкове</mat-error>
      <mat-error *ngIf="readerForm.controls['lastName'].hasError('minlength')">Прізвище повинно містити принаймні 2 символи</mat-error>
  </mat-form-field>
  <mat-form-field class="general-field">
      <mat-label>По батькові</mat-label>
      <input matInput placeholder="По батькові" name="surname" [(ngModel)]="selectedReader.surname" [required]="true" minlength="2">
      <mat-error *ngIf="readerForm.controls['surname'].hasError('required')">По батькові обов'язкове</mat-error>
      <mat-error *ngIf="readerForm.controls['surname'].hasError('minlength')">По батькові повинно містити принаймні 2 символи</mat-error>
  </mat-form-field>
  <mat-form-field class="general-field">
    <mat-label>Email</mat-label>
    <input matInput placeholder="Email" name="email" [(ngModel)]="selectedReader.email" [required]="true">
</mat-form-field>
  <mat-form-field class="general-field">
      <mat-label>Адреса</mat-label>
      <input matInput placeholder="Адреса" name="address" [(ngModel)]="selectedReader.address" [required]="true">
  </mat-form-field>
  <mat-form-field>
      <mat-label>Телефон</mat-label>
      <input matInput placeholder="Телефон" name="phone" [(ngModel)]="selectedReader.phone" prefix="+38" mask="(000) 000 00 00" [required]="true">
  </mat-form-field>        
  <mat-form-field class="discount-field">
      <mat-label>Знижка (у відсотках)</mat-label>
      <input type="number" matInput placeholder="Знижка" name="discountAmount" [(ngModel)]="selectedReader.discount.discountAmount" [required]="true">
  </mat-form-field> 
  
</form>

    <div class="button-container">
      <button mat-button (click)="editReader()" [disabled]="!readerForm.valid">Зберегти</button>
      <button mat-button (click)="deleteReader()" [disabled]="!readerForm.valid">Видалити</button>
    </div>
</mat-dialog-content>

